body{
    margin: 0 auto;
    padding: 0;
}

.nav{
    width: 100%;
    min-height: 49px;
    background: transparent;
    float: left;
    margin-top: 65px;
}

.logo{
    width: 100%;
    background: transparent;
    float: left;
    margin-left: 80px;
}

.menu{
    width: 100%;
    min-height: 49px;
    background: transparent;
    float: left;
}

.menu ul{
    margin: 0;
    padding: 0;
    margin-right: 80px;
    float: right;
}

.menu ul li{
    list-style-type: none;
    float: left;
    margin: 14px 57px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.header{
    width: 100%;
    min-height: 474px;
    background: transparent;
    margin-top: 140px;
    float: left;
}

.mail{
    width: 100%;
    min-height: 474px;
    background: transparent;
    float: left;
}

.img{
    width: 100%;
    min-height: 474px;
    background: transparent;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.img img{
    margin-left: 90px;
    margin-bottom: 107px;
}

.img_phone{
    width: 100%;
    min-height: 474px;
    background: green;
    display: none;
}

.mail h1{
    margin-left: 80px;
    margin-top: 77px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 40px;
}

.mail span{
    display: block;
    margin-top: 15px;
    margin-left: 80px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 17px;
}

.mail input{
    width: 320px;
    height: 45px;
    float: left;
    margin-left: 80px;
    margin-top: 25px;
    border: 0.625px solid #07043B;
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.15925);
    border-radius: 3.125px;
    padding: 15px;
}

.mail button{
    width: 200px;
    height: 45px;
    margin-top: 25px;
    margin-left: 16px;
    color: white;
    background: #2F65F8;
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.15925);
    border-radius: 3.125px;
    font-family: 'Raleway', sans-serif;
}

.productive{
    width: 100%;
    height: 855px;
    background: transparent;
    float: left;
}

.productive img{
    width: 100%;
    height: 855px;
    position: absolute;
    z-index: -1;
}

.l_productive{
    width: 100%;
    height: 855px;
    background: red;
    float: left;
}

.l_productive h1{
    margin: 0;
    padding: 0;
    margin-top: 195px;
    margin-left: 80px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 40px;
}

.first{
    margin-left: 80px;
    margin-top: 38px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.second{
    margin-top: 16px;
    margin-left: 80px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.third{
    width: 180px;
    margin-top: 15px;
    margin-left: 80px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: rgba(61, 160, 143, 1);
    border-bottom: 1px solid rgba(61, 160, 143, 1);
    text-decoration: none;
}

.third:hover{
    text-decoration: none ;
    color: rgba(61, 160, 143, 1);
    cursor: pointer;
}

.third span{
    margin-left: 5px;
    color: white;
    background-color: rgba(61, 160, 143, 1);
    border-radius: 50px;
}

.fa-arrow-right{
    width: 20px;
    height: 20px;
    padding-left: 3px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 951px) {
    
    .header{
        margin: 0;
        padding: 0;
    }

    .menu ul{
        margin-right: 24px;
    }
    
    .menu ul li{
        margin: 14px 5px;
        font-size: 12px;
    }

    .menu ul li:first-child{
        margin-left: 5px;
    }

    .menu ul li:last-child{
        margin-left: 3px;
    }

    .nav{
        margin-top: 24px;
    }

    .logo{
        margin-left: 24px;
    }

    .img{
        display: none;
        margin: 0;
        padding: 0;
    }

    .img_phone{
        width: 100%;
        min-height: 225px;
        background: transparent;
        display: block;
        margin-top: 103px;
    }

    .img_phone img{
        width: 304px;
        height: 225px;
        margin-left: 36px;
    }

    .mail h1{
        text-align: center;
        font-size: 24px;
        margin: 40px 27px 24px 28px;
    }

    .mail span{
        text-align: center;
        font-size: 14px;
        margin: 0 43px 32px 36px;
        float: right;
    }

    .mail input{
        width: 304px;
        height: 40px;
        margin: 0 0px 16px 38px;
    }

    .mail button{
        width: 304px;
        height: 40px;
        margin: 0 35px 90px 36px;
    }

    .productive{
        background-size: 375px 961px;
    }
}
